<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FPatientMapper">

    <resultMap type="FPatient" id="FPatientResult">
        <result property="id"    column="id"    />
        <result property="logNo"    column="log_no"    />
        <result property="logType"    column="log_type"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="idCard"    column="id_card"    />
        <result property="firstDate"    column="first_date"    />
        <result property="born"    column="born"    />
        <result property="age"    column="age"    />
        <result property="sex"    column="sex"    />
        <result property="address"    column="address"    />
        <result property="vipType"    column="vip_type"    />
        <result property="black"    column="black"    />
        <result property="newPatient"    column="new_patient"    />
        <result property="releaseId"    column="release_id"    />
        <result property="releaseTag"    column="release_tag"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFPatientVo">
        select id, log_no, log_type, name, phone, id_card, first_date, born, age, sex, address, vip_type, black, new_patient, release_id, release_tag, del_flag, create_by, create_time, update_by, update_time, remark from f_patient
    </sql>

    <select id="selectFPatientList" parameterType="FPatient" resultMap="FPatientResult">
        <include refid="selectFPatientVo"/>
        <where>
            <if test="logNo != null  and logNo != ''"> and log_no = #{logNo}</if>
            <if test="logType != null  and logType != ''"> and log_type = #{logType}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="idCard != null  and idCard != ''"> and id_card = #{idCard}</if>
            <if test="firstDate != null  and firstDate != ''"> and first_date = #{firstDate}</if>
            <if test="born != null  and born != ''"> and born = #{born}</if>
            <if test="age != null "> and age = #{age}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="vipType != null  and vipType != ''"> and vip_type = #{vipType}</if>
            <if test="black != null  and black != ''"> and black = #{black}</if>
            <if test="newPatient != null  and newPatient != ''"> and new_patient = #{newPatient}</if>
            <if test="start != null and end != null "> and create_time BETWEEN #{start} and #{end}</if>
        </where>
    </select>
    
    <select id="selectFPatientById" parameterType="Long" resultMap="FPatientResult">
        <include refid="selectFPatientVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFPatient" parameterType="FPatient" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into f_patient
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logNo != null and logNo != ''">log_no,</if>
            <if test="logType != null">log_type,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="idCard != null">id_card,</if>
            <if test="firstDate != null">first_date,</if>
            <if test="born != null">born,</if>
            <if test="age != null">age,</if>
            <if test="sex != null">sex,</if>
            <if test="address != null">address,</if>
            <if test="vipType != null">vip_type,</if>
            <if test="black != null and black != ''">black,</if>
            <if test="newPatient != null and newPatient != ''">new_patient,</if>
            <if test="releaseId != null">release_id,</if>
            <if test="releaseTag != null">release_tag,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logNo != null and logNo != ''">#{logNo},</if>
            <if test="logType != null">#{logType},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="idCard != null">#{idCard},</if>
            <if test="firstDate != null">#{firstDate},</if>
            <if test="born != null">#{born},</if>
            <if test="age != null">#{age},</if>
            <if test="sex != null">#{sex},</if>
            <if test="address != null">#{address},</if>
            <if test="vipType != null">#{vipType},</if>
            <if test="black != null and black != ''">#{black},</if>
            <if test="newPatient != null and newPatient != ''">#{newPatient},</if>
            <if test="releaseId != null">#{releaseId},</if>
            <if test="releaseTag != null">#{releaseTag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateFPatient" parameterType="FPatient" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        update f_patient
        <trim prefix="SET" suffixOverrides=",">
            <if test="logNo != null and logNo != ''">log_no = #{logNo},</if>
            <if test="logType != null">log_type = #{logType},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="firstDate != null">first_date = #{firstDate},</if>
            <if test="born != null">born = #{born},</if>
            <if test="age != null">age = #{age},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="address != null">address = #{address},</if>
            <if test="vipType != null">vip_type = #{vipType},</if>
            <if test="black != null and black != ''">black = #{black},</if>
            <if test="newPatient != null and newPatient != ''">new_patient = #{newPatient},</if>
            <if test="releaseId != null">release_id = #{releaseId},</if>
            <if test="releaseTag != null">release_tag = #{releaseTag},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFPatientById" parameterType="Long">
        delete from f_patient where id = #{id}
    </delete>

    <delete id="deleteFPatientByIds" parameterType="String">
        delete from f_patient where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectPatientMaxNo" resultMap="FPatientResult">
        select log_no from f_patient order by id limit 1;
    </select>
</mapper>