<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FPatientMapper">
    
    <resultMap type="FPatient" id="FPatientResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="idCard"    column="id_card"    />
        <result property="black"    column="black"    />
        <result property="newPatient"    column="new_patient"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFPatientVo">
        select id, name, phone, id_card, black, new_patient, del_flag, create_by, create_time, update_by, update_time, remark from f_patient
    </sql>

    <select id="selectFPatientList" parameterType="FPatient" resultMap="FPatientResult">
        <include refid="selectFPatientVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="idCard != null  and idCard != ''"> and id_card = #{idCard}</if>
            <if test="black != null  and black != ''"> and black = #{black}</if>
            <if test="newPatient != null  and newPatient != ''"> and new_patient = #{newPatient}</if>
            <if test="start != null and end != null "> and create_time BETWEEN #{start} and #{end}</if>
        </where>
    </select>
    
    <select id="selectFPatientById" parameterType="Long" resultMap="FPatientResult">
        <include refid="selectFPatientVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFPatient" parameterType="FPatient" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into f_patient
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="idCard != null">id_card,</if>
            <if test="black != null and black != ''">black,</if>
            <if test="newPatient != null and newPatient != ''">new_patient,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="idCard != null">#{idCard},</if>
            <if test="black != null and black != ''">#{black},</if>
            <if test="newPatient != null and newPatient != ''">#{newPatient},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFPatient" parameterType="FPatient" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        update f_patient
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="black != null and black != ''">black = #{black},</if>
            <if test="newPatient != null and newPatient != ''">new_patient = #{newPatient},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFPatientById" parameterType="Long">
        delete from f_patient where id = #{id}
    </delete>

    <delete id="deleteFPatientByIds" parameterType="String">
        delete from f_patient where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>