<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FRoomFormMapper">
    
    <resultMap type="FRoomForm" id="FRoomFormResult">
        <result property="id"    column="id"    />
        <result property="room"    column="room"    />
        <result property="formType"    column="form_type"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFRoomFormVo">
        select id, room, form_type, del_flag, create_by, create_time, update_by, update_time, remark from f_room_form
    </sql>

    <select id="selectFRoomFormList" parameterType="FRoomForm" resultMap="FRoomFormResult">
        <include refid="selectFRoomFormVo"/>
        <where>  
            <if test="room != null  and room != ''"> and room = #{room}</if>
            <if test="formType != null  and formType != ''"> and form_type = #{formType}</if>
        </where>
    </select>
    
    <select id="selectFRoomFormById" parameterType="Long" resultMap="FRoomFormResult">
        <include refid="selectFRoomFormVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFRoomForm" parameterType="FRoomForm">
        insert into f_room_form
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="room != null and room != ''">room,</if>
            <if test="formType != null and formType != ''">form_type,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="room != null and room != ''">#{room},</if>
            <if test="formType != null and formType != ''">#{formType},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFRoomForm" parameterType="FRoomForm">
        update f_room_form
        <trim prefix="SET" suffixOverrides=",">
            <if test="room != null and room != ''">room = #{room},</if>
            <if test="formType != null and formType != ''">form_type = #{formType},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFRoomFormById" parameterType="Long">
        delete from f_room_form where id = #{id}
    </delete>

    <delete id="deleteFRoomFormByIds" parameterType="String">
        delete from f_room_form where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>